body {
    font-family: Arial, sans-serif;
    background-color: #111; /* Latar belakang gelap */
    color: white; /* Warna teks utama */
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 120vh;
}

.background-slideshow {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    background-size: cover;
    background-position: center;
    animation: slide 24s infinite linear;
    opacity: 0.4;
}

@keyframes slide {
    0%   { background-image: url('../gambar/potong1.jpg'); }
    25%  { background-image: url('../gambar/potong2.jpg'); }
    50%  { background-image: url('../gambar/potong7.jpeg'); }
    75%  { background-image: url('../gambar/potong6.jpeg'); }
    100% { background-image: url('../gambar/potong1.jpg'); }
}

.form-container {
    background: #52a5dc;
    padding: 20px;
    border-radius: 10px;
    width: 90%;
    max-width: 400px;
    box-shadow: 0 0 10px rgba(0, 255, 255, 0.2);
}

.form-title {
    text-align: center;
    color: aqua;
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 15px;
}

.form-group {
    margin-bottom: 15px;
}

label {
    display: block;
    font-size: 14px;
    margin-bottom: 5px;
    color: #ddd;
    font-weight: bold;
}

input[type="text"], 
input[type="tel"], 
input[type="date"], 
input[type="time"] {
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #555;
    background: #333;
    color: white;
    outline: none;
}

input[type="text"]:focus, 
input[type="tel"]:focus, 
input[type="date"]:focus, 
input[type="time"]:focus {
    border-color: #00aaff;
    box-shadow: 0 0 5px rgba(0, 170, 255, 0.5);
}

.btn-primary {
    background: #00aaff;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 5px;
    width: 100%;
    cursor: pointer;
    transition: 0.3s ease-in-out;
}

.btn-primary:hover {
    background: #0088cc;
    transform: scale(1.05);
}

.btn-secondary {
    display: block;
    text-align: center;
    margin-top: 10px;
    color: #ddd;
    text-decoration: none;
    transition: 0.3s ease-in-out;
}

.btn-secondary:hover {
    color: white;
    text-decoration: underline;
}
